.button {
    border: none;
    outline: none;
    padding: var(--spacing-lg);
    border-radius: var(--spacing-xs);
    background-color: var(--primary);
    color: var(--white);
    font-size: var(--font-sm);
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}

.button:hover {
    opacity: 0.85;
}

.button.small {
    padding-block: 0;
    height: 30px;
}
