.holder {
    width: 100%;
    height: 100%;
    padding: var(--spacing-xl);
    padding-inline-start: calc(var(--spacing-xl) + var(--sidebar));
    max-width: var(--container);
    margin-inline: auto;
}

@media only screen and (max-width: 767px) {
    .holder {
        padding-inline-start: calc(var(--spacing-xl) + var(--sidebar-mobile));
    }
}
