.container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.container input {
    border-radius: var(--spacing-xs);
    padding: var(--spacing-sm);
    width: 100%;
    border: 1px solid;
}

.container input::placeholder {
    color: var(--border);
}

.container.withIcon input {
    padding-inline-start: calc(var(--spacing-lg) + var(--box-sm));
}

.container.withIcon svg {
    width: var(--box-sm);
    height: var(--box-sm);
}

.container.light input {
    outline-color: var(--border);
    border-color: var(--border);
}

.container svg {
    position: absolute;
    z-index: 1;
    left: var(--spacing-md);
}

.container.light svg {
    fill: var(--border);
}

@media only screen and (max-width: 767px) {
    .container.withIcon svg {
        display: none;
    }

    .container.withIcon input {
        padding-inline-start: var(--spacing-sm);
    }
}
