.card {
    min-height: var(--card-h);
    width: var(--card-w);
    border-radius: var(--spacing-xs);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img {
    width: 100%;
    object-fit: cover;
    height: var(--card-img);
}

.content {
    padding: var(--spacing-sm) var(--spacing-lg);
    line-height: 21px;
}

.btn {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 0;
    height: var(--box-sm);
    width: var(--box-sm);
}

.btn.leftBtn {
    left: var(--spacing-xs);
}

.btn.rightBtn {
    top: var(--spacing-md);
    right: var(--spacing-md);
}

.rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-sm);
    padding: var(--spacing-xs) var(--spacing-lg);
}

.rating svg {
    height: var(--box-md);
    width: var(--box-md);
}

.rate {
    display: flex;
    gap: var(--spacing-xs);
}
