.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    gap: var(--spacing-xl);
    padding: var(--spacing-lg);
    text-align: center;
}
