.heading {
    font-size: var(--font-lg);
    color: var(--black);
    font-weight: 700;
}

.subheading {
    font-size: var(--font-md);
    color: var(--black);
    font-weight: 500;
}

.paragraph {
    font-size: var(--font-sm);
    color: var(--black);
    font-weight: 400;
}

.small {
    font-size: var(--font-xs);
    color: var(--black);
    font-weight: 400;
}

.link {
    color: var(--link);
    font-size: var(--font-sm);
    font-weight: 500;
}

.primary {
    color: var(--primary);
}

.grey {
    color: var(--grey);
}

.white {
    color: var(--white);
}

.clipText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.centered {
    text-align: center;
}
