.topRow {
    display: flex;
    gap: var(--spacing-xl);
    align-items: center;
    padding-bottom: var(--spacing-lg);
}

.topRow svg {
    height: var(--box-sm);
    width: var(--box-sm);
    cursor: pointer;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-block: var(--spacing-xl);
}

.watchBox {
    display: flex;
    gap: var(--spacing-xl);
    flex-wrap: wrap;
    padding-top: var(--spacing-xl);
}

.editForm {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.editForm > div {
    display: flex;
    row-gap: var(--spacing-sm);
    flex-direction: column;
}
